/* add font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* remove default spacing */
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
}

/* major sizing defaults */
body {
    background-image: url(../images/hero-bg.webp);
    background-repeat: no-repeat;
    background-position: 0 43%;
    background-size: cover;
}
.hero-section {
    padding: 28px 53px;
    position: relative;
    height: 100vh;
}

/* header section styles */
.logo {
    font-size: 18px;
}
hr.solid {
    color: #ffffff;
    margin: 9px 0; /* 1st value is for top & bottom, 2nd value for left & right */
}
.header-contents {
    margin: 20px 0 0;
}
.header-title {
    float: left;
    font-weight: 400;
    font-size: 38px;
    color: #ffffff; 
    line-height: 100%;  
}
.header-number {
    float: right;
    color: #ffffff;
}
.header-number .small {
    font-weight: bold;
    font-size: 155px;
    line-height: 86%;
    vertical-align: top;
    margin-right: -6px;
}
.header-number .big {
    font-weight: 600;
    font-size: 185px;
    line-height: 85%;
    vertical-align: top;
}

/* footer */
.content-footer-section {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 100px);
}

/* contents */
.content-grid {
    display: grid;
    grid-template-columns:50% 50%;
}
.content-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 110px;
    color: #ffffff;
    line-height: 90%;
    margin: 0 0 35px -7px;
}
.content-data {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
.content-right {
    position: relative;
}

/* button styles */
.button-white {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 16px 30px;
    font-size: 20px;
    border-radius: 200px;
    bottom: 0;
    right: 0;
}
.btn-arrow {
    height: 18px;
    padding: 0 0 2px;
    margin: 0 0 0 6px;
    vertical-align: middle;
}